.header {
    border-style: solid;
    border-color: blue;
    height: 400px;
}

.navBar {
    border-style: solid;
    border-color: red;
    display: flex;
    justify-content: center;
}

.navBarButton {
    padding: 15px;
}

.content {
    border-style: solid;
    border-color: green;
}

