.header {
    border-style: solid;
    border-color: blue;
    display: flex;
    justify-content: center;
}

.headerLabel {
    width: 900px;
    height: 400px;
    border-style: solid;
    border-color: red;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navBar {
    display: flex;
    margin-top: 15px;
    justify-content: space-evenly;
}

.navBarButton {
    padding: 15px;
    border-radius: 7px;
    border-style: none;
    background-color: aqua;
    cursor: pointer;
}

.content {
    border-radius: 15px;
    margin-top: 15px;
    box-shadow: 5px 5px 50px 2px rgb(194, 194, 194);
    padding: 10px;
}

h1 {
    font-family: Helvetica;
    text-align: right;
    padding-right: 20px;
}

h2 {
    font-family: Helvetica;
}

p {
    font-family: Helvetica;
    font-size: 20px;
}