/* navigation desktop */
.navBar {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 150px;
    max-height: 520px;
    padding: 20px;
    box-shadow: 0px 10px 44px -7px rgba(0, 0, 0, 0.137);
}

.navBarButton {
    margin: 15px;
    height: 100px;
    width: 100px;
    border-radius: 20px;
    border-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navBarButton:hover {
    background-color: rgba(0,172,255,1);
    transition: background-color 0.7s ease;
    .buttonIcon {
        filter: invert(100%);
        transition: filter 0.3s ease;
    }
    .buttonText {
        filter: invert(100%);
        transition: filter 0.3s ease;
    }
}

.buttonIcon {
    object-fit: contain;
}

.buttonText {
    margin: 0px;
    font-weight: 500;
}

/* navigation mobile */
.navMenuButton {
    display: none;
    width: 60px;
    height: 60px;
    margin-left: 35px;
    margin-top: 30px;
    padding-top: 3px;
    position: absolute;
    border-radius: 30px;
    border-style: none;
    background-color: rgba(240,240,240,255);
    z-index: 5;
}

.navBarMobile {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: white;
    align-items: center;
    border-radius: 20px;
    width: 130px;
    max-height: 500px;
    box-shadow: 0px 10px 44px -7px rgba(0, 0, 0, 0.137);
    z-index: 1;
    margin-top: -180px;
    margin-left: 30px;
}

.navBarButtonMobile {
    margin: 15px;
    height: 90px;
    width: 90px;
    border-radius: 20px;
    border-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media screen and (max-width: 450px) {
    .navBar {
        display:none;
    }

    .navMenuButton {
        display: block;
    }
}